@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-stone-300
}

p {
    @apply text-center
}
.main {
    @apply flex flex-col items-center justify-center min-h-screen;
}

h1 {
    @apply text-6xl
}

h2 {
    @apply text-4xl
}
.btn {
    @apply bg-slate-600 flex flex-col items-center justify-center h-10 rounded-xl px-4 text-white hover:bg-slate-700 active:bg-slate-800 disabled:text-gray-200 disabled:bg-slate-800
}

.card {
    @apply flex flex-row items-center justify-center rounded-lg bg-gray-300 hover:bg-gray-400
}

.image {
    @apply min-h-16 min-w-16 max-h-20
}

.textinput {
    @apply h-10 text-lg text-center rounded-md
}

nav > .active {
    @apply bg-slate-700
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}